<!doctype html>
<html>
<head>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
</head>
    <body>
    
    <div class="container"> 
  <div class="jumbotron">
  <center><h1 style="color:black;">Jamaica</center>
  </div>
            <style>
    
        body {
            background: black
            background-size: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding-top: 40px;
            }
    </style>
    
<center>
    <div>
        <h1>5 Facts About Jamaica</h1>
        <p> 1 - Jamaica has an area of 4, 411 square miles of 11, 424 square kilometres.The island is 146. The Island is the third largest of the Caribbean islands and the largest of the English speaking islands.Jamaica is a very mountainous country.around
            half of the island is above sea level by 1, 000 feet.Blue mountain Peak is the highest point in the country</p>
        <p> 2 - The all year round average temperature in Jamaica is 27 ºC. High altitude areas are much cooler. For example, the Blue Mountain Peak, keeps a temperature on average of 13 ºC.</p>
        <p> 3 - Jamaica has approximately 120 rivers, most of which flow to coast from the central mountain ranges. Those on the north side tend to be shorter and swifter than those on the south side. Alongside having many rivers Jamaica is also blessed with
            a few mineral springs, four of them are developed to accommodate tourist for bathing/activities.</p>
        <p> 4 - The first Jamaican were the aboriginal Taino Indians. Christopher Columbus found them living here when he came from Spain to find new land. Soon after Christopher colobus settled in Jamaica the Tainos were all killed or died out from overwork and European diseases.</p>
        <p> 5 - Christopher Columbus first came to Jamaica on May 4, 1494 while on his second voyage to the “new” world. This great explorer landed at Discovery Bay on the north coast near the resort town of Ocho Rios. Columbus once spent a whole year in St. Ann’s
            Bay. It was during his fourth voyage in 1503 when he stopped here because his ships were worm-eaten. A full year passed before help arrived and he was able to repair his ships. This is the longest time he ever spent in any one place on any of his
            voyages.</p>
    </div>
        <h1>5 Random Facts About Jamaica</h1>
        <p>There are very few snakes that are wild in Jamaica. The mongoose was imported to Jamaica to get rid of the rats that would spil the cane fields in 1872. As an added benefit, the mongoose has killed off almost the entire population of snakes. So running
        across a snake is a rare occurrence in Jamaica.</p>
        <p></p>
        
<h1>News In jamaica</h1>
<a class="twitter-timeline" href="https://twitter.com/JamaicaGleaner" data-widget-id="727928485281468417">Tweets by @JamaicaGleaner</a>
<script>
    ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");
</script>
        
    
</center>
</div>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="/facts">Facts About Jamaica</a></li>
  <li><a href="/maps">Maps</a></li>
  <li><a href="/things">Things To Do In Jamaica</a></li>
  <li><a href="/home">Leave A Comment</a></li>
</ul>